//vars
$transition:        all 0.48s ease;
$transitionDelay:   0.24s !important;
$bgColor:           #f2f3f4;
$sbgColor:          #f2f3f4;
$loadingColor:      #000;

//html,body overlay
html, body {
    overflow-x: hidden !important;
}

//main code
#wpt_loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;   
}

.split_ver_wpt_load {
    height: 50vh !important;
    &:after {
        content: '';
        top: 50vh;
        transition: $transition;
        position: absolute;
        bottom: -50vh;
        left: 0;
        right: 0;
        height: 50vh;
        z-index: 999999;
    }
}

.split_hor_wpt_load {
    width: 50vw !important;
    right: 0vw;
    &:after {
        content: '';
        top: 0;
        transition: $transition;
        position: fixed;
        bottom: 0;
        width: 50vw;
        left: 0;
        height: 100vh;
        z-index: 999999;
    }
}

//animators
.show-opacity {
    opacity: 0;
    pointer-events: none;
}

.show-slide-down {
    bottom:0;
    height: 0vh !important;
}

.show-slide-left {
    right: 0;
    width: 0 !important;
}

.split-mid-middle {
    top: 0;
    height: 0 !important;
    &:after {
        height: 0vh;
        top: 100vh !important;
    }
}

.split-left-middle {
    width: 0 !important;
    &:after {
        width: 0;
    }
}

//loading circles
#wpt_load_anim {
    position: fixed;
    z-index: 99999999;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    &.basic-circle {
        box-sizing: border-box;
        left: calc(50% - 37.5px);
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border-bottom: solid 5px transparent;
        -webkit-animation: spin 0.9s infinite; /* Safari 4+ */
        -moz-animation:    spin 0.9s infinite; /* Fx 5+ */
        -o-animation:      spin 0.9s infinite; /* Opera 12+ */
        animation:         spin 0.9s infinite; /* IE 10+, Fx 29+ */
    }
    &.two-halfs-circle {
        box-sizing: border-box;
        left: calc(50% - 37.5px);
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: solid 5px $loadingColor;
        border-bottom: solid 5px transparent;
        border-top: solid 5px transparent;
        -webkit-animation: spin 0.9s infinite; /* Safari 4+ */
        -moz-animation:    spin 0.9s infinite; /* Fx 5+ */
        -o-animation:      spin 0.9s infinite; /* Opera 12+ */
        animation:         spin 0.9s infinite; /* IE 10+, Fx 29+ */
    }
    &.one-quater-circle {
        box-sizing: border-box;
        left: calc(50% - 37.5px);
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 5px solid rgba(0,0,0,0.2);
        border-bottom: 5px solid $loadingColor;
        -webkit-animation: spin 0.9s infinite; /* Safari 4+ */
        -moz-animation:    spin 0.9s infinite; /* Fx 5+ */
        -o-animation:      spin 0.9s infinite; /* Opera 12+ */
        animation:         spin 0.9s infinite; /* IE 10+, Fx 29+ */
    }
    &.split-circle {
        box-sizing: border-box;
        left: calc(50% - 37.5px);
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-bottom: 5px solid $loadingColor;
        -webkit-animation: spin 0.9s infinite; /* Safari 4+ */
        -moz-animation:    spin 0.9s infinite; /* Fx 5+ */
        -o-animation:      spin 0.9s infinite; /* Opera 12+ */
        animation:         spin 0.9s infinite; /* IE 10+, Fx 29+ */
        &:before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            left: calc(50% - 31px);
            height: 62px;
            width: 62px;
            border-radius: 50%;
            border: 5px solid transparent;
            border-top: 5px solid $loadingColor;
            -webkit-animation: spin 0.9s infinite; /* Safari 4+ */
            -moz-animation:    spin 0.9s infinite; /* Fx 5+ */
            -o-animation:      spin 0.9s infinite; /* Opera 12+ */
            animation:         spin 0.9s infinite; /* IE 10+, Fx 29+ */
        }
    }
    &.split-ring { 
        box-sizing: border-box;
        left: calc(50% - 37.5px);
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-bottom: 5px solid $loadingColor;
        border-top: 5px solid $loadingColor;
        -webkit-animation: spin 0.9s infinite; /* Safari 4+ */
        -moz-animation:    spin 0.9s infinite; /* Fx 5+ */
        -o-animation:      spin 0.9s infinite; /* Opera 12+ */
        animation:         spin 0.9s infinite; /* IE 10+, Fx 29+ */
        &:before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            left: calc(50% - 31px);
            height: 60px;
            width: 60px;
            top: 2px;
            border-radius: 50%;
            border: 5px solid transparent;
            border-bottom: 5px solid $loadingColor;
            border-top: 5px solid $loadingColor;
            -webkit-animation: spin 0.9s infinite; /* Safari 4+ */
            -moz-animation:    spin 0.9s infinite; /* Fx 5+ */
            -o-animation:      spin 0.9s infinite; /* Opera 12+ */
            animation:         spin 0.9s infinite; /* IE 10+, Fx 29+ */
            animation-direction: reverse;
        }
    }
    &.three-bars {
        box-sizing: border-box;
        left: calc(50% - 7.5px);
        height: 40px;
        width: 10px;
        background-color: $loadingColor;
        top: 50%;
        transform: translateY(-50%);
        -webkit-animation: resize_height 0.9s infinite; /* Safari 4+ */
        -moz-animation:    resize_height 0.9s infinite; /* Fx 5+ */
        -o-animation:      resize_height 0.9s infinite; /* Opera 12+ */
        animation:         resize_height 0.9s infinite; /* IE 10+, Fx 29+ */
        animation-delay: 0.1s;
        &:before {
            content: '';
            position: absolute;
            left: calc(50% + 7.5px);
            height: 40px;
            width: 10px;
            background-color: $loadingColor;
            top: 50%;
            transform: translateY(-50%);
            -webkit-animation: resize_height 0.9s infinite; /* Safari 4+ */
            -moz-animation:    resize_height 0.9s infinite; /* Fx 5+ */
            -o-animation:      resize_height 0.9s infinite; /* Opera 12+ */
            animation:         resize_height 0.9s infinite; /* IE 10+, Fx 29+ */
            animation-delay: 0.2s;
        }
        &:after {
            content: '';
            position: absolute;
            left: calc(50% - 17px);
            height: 40px;
            width: 10px;
            background-color: $loadingColor;
            top: 50%;
            transform: translateY(-50%);
            -webkit-animation: resize_height 0.9s infinite; /* Safari 4+ */
            -moz-animation:    resize_height 0.9s infinite; /* Fx 5+ */
            -o-animation:      resize_height 0.9s infinite; /* Opera 12+ */
            animation:         resize_height 0.9s infinite; /* IE 10+, Fx 29+ */
        }
    }
}

//imported scss files
@import 'keyframes';